/tests export-ignore
/phpunit.xml.dist export-ignore
.github export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.php-cs-fixer.dist.php export-ignore
composer.lock export-ignore
phpstan.neon export-ignore
phpstan.php80.neon export-ignore
